body {
    font-family: "Smythe", system-ui;
    color: #fff;
    width: 600px;
    display: block;
    align-items: center;
}

header {
width: 100%;
height: 167px;
left: 0px;
top: 0px;
background: url(/images/image.png);
background-size: cover;
}

h1 {
    padding-top: 46px;
}


section {
    color: black;
    margin: 0 auto;
    width: 100%;
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d2d2d2;
}

#order-section {
    height: 319px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#order-bottom-border {
    height: 2px;
    width: 525px;
    background-color: black;
    margin-bottom: 20px;
}

.order-item-description {
    width: 600px;
    display: flex;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

.order-item-description p, .order-total p {
    padding-left: 10px;
}

.order-item-row, #order-total{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#remove {
    color: #bbb;
    font-size: 12px;
}

.order-button {
    background: #16DB99;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    border-radius: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #dedede;
    color: #3c3c3c;
}

.icon {
    margin: auto;
    width: 50px;
}

.item {
    display: flex;
    justify-content: space-between;
}

.description {
    color: #8b8b8b;
}

form h3 {
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
    background: #fff;
    padding: 20px;
    width: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

input {
    width: 99%;
    margin: 5px 0;
    padding: 10px;
}

#modal {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw; 
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    justify-content: center;
    align-items: center;
}

#thankYouSection {
    width: 504px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ECFDF5;
    color: #065F46;
}